doctype html
html(lang='ru')
  head
    meta(charset="utf-8")
    title Hipsweet

    link(rel="apple-touch-icon", sizes="76x76", href="favicons/apple-touch-icon.png")
    link(rel="icon", type="image/png", href="favicons/favicon-32x32.png", sizes="32x32")
    link(rel="icon", type="image/png", href="favicons/favicon-16x16.png", sizes="16x16")
    link(rel="manifest", href="favicons/manifest.json")
    link(rel="mask-icon", href="favicons/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="theme-color", content="#ffffff")

    meta(content="Andrii Ruzanov" name="author")
    meta(content="shop" name="description")
    meta(content="" name="keywords")
    //- meta(content="width=device-width, initial-scale=1" name="viewport")
    meta(content="ie=edge" http-equiv="x-ua-compatible")

    //- favicon block start
    //- favicon block end

    link(rel='stylesheet' href='css/foundation.css')
    link(rel='stylesheet' href='css/app.css')
    script(src='js/foundation.js' defer)
    script(src='js/app.js' defer)

    <!--[if lt IE 9]>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
    <![endif]-->

  body
    .wrapper
        .maincontent
            include common/cupcake
            include common/advantages
            include common/goods
            include common/team
            include common/faq
            include common/footer
   
