section.section-advantages
	.container
		.advantages-wrapp
			.advantages__left
				.advantages__left-wrapp
					h1.advantages__left-title.title Почему так вкусно?
					p.advantages__left-text
						|В основе пирожного Sweet Cupcake выпеченный бисквит, промоченный сахарным сиропом с добавлением коньяка и десертного вина. Прослоено суфлейной массой, смешанной с апельсиновым концентратом (калоризатор). Заглазировано шоколадной глазурью с нанесением сеточки из белой шоколадной глазури
				.advantages__icons-wrapp
					ul.advantages__icons-list
						li.advantages__icons-item
							.advantages__icons-pic(style="background-image: url('img/content/hat.png')")
							.advantages__icons-desc Лучшие повара своего дела 
						li.advantages__icons-item
							.advantages__icons-pic(style="background-image: url('img/content/mint.png')")
							.advantages__icons-desc Свежие ингридиенты
						li.advantages__icons-item
							.advantages__icons-pic(style="background-image: url('img/content/heart.png')")
							.advantages__icons-desc Приготовлено с любовью
					
			.advantages__right
				.advantages__right-cook-pic(style="background-image: url('img/content/cook.png')")
