footer.footer
	section.section-footer
		.container
			.footer__wrap
				ul.footer__list
					li.footer__item
						a.logo
							.footer__logo-avatar
								img(src="img/icons/logo.png").footer__logo-pic
							span.footer__logo-name Hipsweet
					li.footer__item
						span.footer__title © 2016 Все права защищены
					li.footer__item
						span.footer__title г.Москва, Вознесенский проспект 44 оф 166
					li.footer__item
						ul.social__item
							li.social__link
								a(href="#").social__link_ok
									i.fa.fa-odnoklassniki
							li.social__link
								a(href="#").social__link_ok
									i.fa.fa-vk
							li.social__link
								a(href="#").social__link_ok
									i.fa.fa-instagram
							li.social__link
								a(href="#").social__link_ok
									i.fa.fa-twitter