section.section-goods
	.container
		.about-us
			.about-us__title Мы поставляем 
			.about-us__desc Также мы делаем выпечку под заказ для различных праздников и банкетов. Заказать индивидуальную выпечку вы можете заполнив форму. После с Вами свяжется один из наших поваров и обсудит заказ более детально.
		ul.delivery__list
			li.delivery__item
				div(style="background-image: url('/assets/img/content/cake.png')").delivery__pic
				div.delivery__title.cake Торты
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/biscuit.png')").delivery__pic
				div.delivery__title Печенье
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/donut.png')").delivery__pic
				div.delivery__title Пончики
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/roll.png')").delivery__pic
				div.delivery__title Рулеты
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/zephyr.png')").delivery__pic
				div.delivery__title Зефир
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/chocolate.png')").delivery__pic
				div.delivery__title Шоколад
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/cakes.png')").delivery__pic
				div.delivery__title Пирожные
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
			li.delivery__item
				div(style="background-image: url('/assets/img/content/candy.png')").delivery__pic
				div.delivery__title Конфеты
				p.delivery__desc Десерт, состоящий из одного или нескольких коржей, пропитанных кремом или джемом. Сверху торт обычно украшают кремом, глазурью или фруктами
