
.section-team {
	height: 1420px;
	padding-top: 50px;
	background: radial-gradient(#fff,#ddd);
}
.team-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}
.team-title {
	width: 20%;
	margin-bottom: 34px;
    font-size: 3.9rem;
    color: $blue;
}
.team__nav {
	width: 80%;
}
.team__nav-list {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.team__nav-item {
	position: relative;
	min-width: 35%;
	padding: 30px;
	border-radius: 20px;
	cursor: pointer;
	margin-left: 5px;
	&:first-child {
		margin-left: 0;
	}
		
	&:hover {
		background: #893213;

		.team__nav-title {
			color: #ffa92b;
		}
		.team__nav-desc {
			color: $white;
		}
	}

}
.team__nav-link {

}

.team__nav-title {
	font-size: 2rem;
	line-height: 36px;
	color: $blue;
}
.team__nav-desc {
	font-family: ArialRegular;
}
// .member__item {
// 	width: 1100px;
// }
.member {
	font-family: ArialRegular;
	font-size: 0.875rem;
	line-height: 21px;
}
.member__item {
	display: flex;
	display: none;
	// flex-direction: row;
	// justify-content: space-between;
	

}

//скрываем ненужные блоки с резюме повара
.member__item {
	display: flex;
	display: none;

}

.member__list_active {
		display: block;
		display: flex;
		

}
 // меняем цвет блока при нажатии на имя повара
.team__nav-item.member__list_active {
	background: #893213;
	.team__nav-title {
		color: #ffa92b;
	}
	.team__nav-desc {
		color: $white;
	}
}
.member__list {
	width: 33%;
}
.cook-member {
	height: 600px;
	width: 40%;
	background: url('../img/content/cook-member.png');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

//order

.order {
	display: flex;
	flex-direction: row;
	width: 836px;
	height: 400px;
	margin: 0 auto;
	background: url('../img/content/order-bg.jpg') no-repeat;
	// background-position: center;
	background-size: cover;
	border-radius: 20px;


}
.order-left {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	text-align: center;
	


}
.order-left-desc {
	width: 100%;
	font-size: 4rem;
	line-height: 64px;
	color: $white;

}
.order-right {
	position: relative;
	width: 50%;
	// padding: 20px;
	background-color: rgba(43,33,33,.84);
	border-radius: 0 20px 20px 0;
}
.order-form {
	padding: 50px;
}
.order__list {
	margin-bottom: 30px;
}
.order__item {
	width: 100%;
	// padding: 40px;
	border-bottom: 1px solid #fff;
	
}
.order__name {
	background: transparent;
	border: 0;
	width: 100%;
	padding: 15px;
	outline: 0;
	color: #766B69;
}
.order__submit {
	position: absolute;
	top: 360px;
	left: 380px;
	width: 95px;
	height: 95px;
	border-radius: 50%;
	background-color: #ffb100;
	border: 0;
	outline: 0;
	&:hover {
	    background-color: #641a00;
		cursor: pointer;
		transition: .3s;
		&:before {
			background-color: #ffb100;
		}
		&:after {
			border-left-color: #ffb100;
		}
	}
	&:before {
		position: absolute;
		content: '';
		bottom: 31px;
	    right: 44px;
	    width: 23px;
	    height: 29px;
	    background-color: #9d5125;
	    transition: .3s;
	}
	&:after {
		position: absolute;
		content: '';
		border-top: 25px solid transparent;
	    border-left: 27px solid #9d5125;
	    border-bottom: 25px solid transparent;
	    right: 18px;
	    bottom: 21px;
	    transition: .3s;
	}
}
.order__checkbox {
	display: inline-block;
	vertical-align: middle;
}
.order__callback {
	display: inline-block;
	vertical-align: middle;
	margin-left: 5px;
	font-family: Arial, sans-serif;
	color: $white;
}